.done {
	text-decoration: line-through;
}

[v-cloak] {
	display: none;
}

.v-application--wrap {
	display: block;
}

.p-l-r-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.p-l-r-2 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.m-t-b-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}